@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
$background-color: #36384e;
$tomato: #ff6257;
$dark-gray: #242742;
$gray: #9294a0;
body
{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.features
{
    padding: 20px 0;
}
.feature
{
    display: flex;
    flex-direction: row;
    padding: 6px 0;
    img {
        width:20px;
    }
    p {
        padding: 0 15px;
        font-size: 16px;
    }
}
.lowerSection
{
    padding: 20px 0;
}
button
{
    &:hover {
        background-color: rgb(255,98,87) !important;
        background: linear-gradient(109deg, rgba(255,98,87,1) 0%, rgba(255,143,92,1) 99%) !important;
    }
}